@import "compass";        //compass geïmporteerd
@import "compass/reset";	//reset browser style
@import "breakpoint";		//screen sizes	

$break-tablet: 750px;

* {
	margin:0;
	padding:0;
  	@include box-sizing(border-box);
}

body {
	background-color: white;
}

.wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}

article {
	background-color: #CFCFCF;
	@include breakpoint($break-tablet) { 
		background-color: green;
	}
	max-width: 100%;
	min-height: 100em;
	padding: 2em;
	p {
		max-width: 30em;
		margin: 0 auto;
	}
}

	h1{
		margin: 0 auto;
	}