html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-size: 100%;
  height: 100%;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; }

#wrapper {
  max-width: 100%;
  height: 100%;
  position: relative; }

.l-layout-1 {
  max-width: 100%;
  height: 61%;
  padding: 2.50%;
  margin-bottom: 4.55%;
  overflow: hidden; }

.big-img {
  width: 62.1%;
  height: 100%;
  background-color: blue;
  margin-left: 3.25%;
  float: left; }

.small-img {
  width: 40%;
  height: 20px;
  background-color: green;
  margin: 0 auto; }

.l-layout-2 {
  max-width: 100%;
  height: 66%;
  background-color: gray;
  margin-bottom: 2.14%; }

.l-layout-3 {
  max-width: 100%;
  height: 71%; }

.l-layout-4 {
  max-width: 100%; }

.l-layout-5 {
  max-width: 100%; }

.l-layout-6 {
  max-width: 100%; }

.l-layout-7 {
  max-width: 100%; }

.l-layout-8 {
  max-width: 100%; }

.l-layout-9 {
  max-width: 100%; }

.l-header-class {
  width: 100%;
  height: 96.6%;
  display: block;
  margin-bottom: 2.14%;
  overflow: hidden;
  padding-bottom: 5%; }

.l-3-columns {
  margin: 0 auto;
  font-size: 1.5em; }

.column {
  width: 30%;
  height: 98%;
  float: left;
  background-color: gray; }

.column:first-of-type {
  margin-left: 1.8%; }

.column + .column {
  margin-left: 3.5%; }

.header-class {
  background-color: red;
  color: white; }
  .header-class h1 {
    font-size: 3em;
    width: 58%;
    padding-left: 4.8%;
    padding-top: 20%;
    padding-bottom: 20%;
    font-weight: bold; }

article {
  background-color: white; }
